@page "/Todo"
@inject NavigationManager _navigationManager;


<PageTitle>Todo</PageTitle>

<h1>Todo(@todos.Count(todo => !todo.IsDone))</h1>

@if(Titel != null)
{
    <h1>@Titel</h1>
}
else
{
    <h1>nothing here</h1>
}

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone"/>
            <input @bind="todo.Title"/>
            </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add Todo</button>



<a href="javascript:;" @onclick="Navigate">Overview</a>

@code {
   
}
